<svg [attr.width]="width" [attr.height]="height" (click)="onClick($event)" id="canvas">
  <image *ngIf="showImage" [attr.href]="backgroundUrl"></image>
  <circle *ngFor="let point of points" [attr.cx]="point.x" [attr.cy]="point.y" r="2" fill="black" />
  <text *ngFor="let point of points; let i = index" [attr.x]="point.x + 1" [attr.y]="point.y - 2"
    class="small">{{ i }}</text>
  <g *ngIf="showLines">
    <line *ngFor="let line of getLines()" [attr.x1]="line.x1" [attr.y1]="line.y1" [attr.x2]="line.x2"
      [attr.y2]="line.y2" stroke="black" />
  </g>
</svg>

<div>
  <label>
    <input type="checkbox" [(ngModel)]="showLines"> Lines
  </label>
</div>

<div>
  <label>
    <input type="checkbox" [(ngModel)]="showImage"> Image
  </label>
</div>

<div>
  Image url : <input [(ngModel)]="backgroundUrl">
</div>
<div>
  Largeur : <input [(ngModel)]="width">
</div>
<div>
  Hauteur : <input [(ngModel)]="height">
</div>

<button (click)="undo()">Annuler</button>
<button (click)="save()">Sauvegarder</button>

<a id="link" download="file.svg"></a>
